<!DOCTYPE html>
{% block html_attribs %}
    <meta lang="zh" charset="UTF-8">
    {{moment.include_jquery()}}
    {{moment.include_moment()}}
    <!--使用中文-->
    {{moment.lang('zh-CN')}}
{% endblock %}
<head>
    <title>添加简答题</title>
</head>
<body>
{% block navbar %}
<div class="navbar navbar-fixed-top">
    <div style=" float:left" align="left"><label><a href="/main">首页</a></label></div><div align="right"><select onchange="window.open(this.options[this.selectedIndex].value,target='_self')"><option selected>{{ privilege }}:{{ user.username }}</option><option value="/logout">注销登录</option></select></div>
</div>
{% endblock %}
<div style="width: 50vh;height: 50vh;margin: 0 auto;" align="center">
    <h3>添加简答题</h3>
    <form action="/add/jiandati" method="post">
        <table>
            <tr>
                <td>问题:</td><td><input type="text" id="question" name="question" required></td>
            </tr>
            <tr>
                <td>类别:</td><td><input type="text" id="course" name="course" required></td>
            </tr>
            <tr>
                <td>难度:</td><td><input type="number"  id="level" name="level" max="5" min="1" required></td>
            </tr>
            <tr>
                <td>答案:</td><td><input type="text" id="answer" name="answer" required></td>
            </tr>
            <tr><td><input type="submit" value="提交"><td></td></tr>
        </table>
    </form>
    <p>{{ msg }}</p>
</div>
{% block footer %}
<div align="center" style="height: 50px;width: 100%;background-color: #ddd;position: fixed;bottom: 0;">
    <p>{{moment(current_time).format('YYYY年M月D日, h:mm:ss a')}}</p>
{% endblock %}
</body>
</html>