<!DOCTYPE html>
{% block html_attribs %}
    <meta lang="zh" charset="UTF-8">
    {{moment.include_jquery()}}
    {{moment.include_moment()}}
    <!--使用中文-->
    {{moment.lang('zh-CN')}}
{% endblock %}
<head>
    {% block title %}<title>试卷生成系统</title>{% endblock %}
</head>

{% block navbar %}
<div class="navbar navbar-fixed-top">
    <div style=" float:left" align="left"><label><a href="/main">首页</a></label></div><div align="right"><select onchange="window.open(this.options[this.selectedIndex].value,target='_self')"><option selected>{{ privilege }}:{{ user.username }}</option><option value="/logout">注销登录</option></select></div>
</div>
{% endblock %}

{% block content %}
  <div align="center"><h1>试卷生成系统</h1></div>
{% endblock %}
<div style="width: 300px;height:200px;margin: 0 auto;">
<table>
    <tr>
        <th>当前用户:</th><td>{{ user.username }}</td>
    </tr>
    <tr>
        <th>用户邮箱:</th><td>{{ user.email }}</td>
    </tr>
     <tr>
        <th>用户权限:</th><td>{{ privilege }}</td>
    </tr>
    <tr>
        <th>生成试卷:</th><td><a href="/generate/byhand">点击此处</a></td>
    </tr>
    <tr>
        <th>自动生成试卷:</th><td><a href="/generate/auto">点击此处</a></td>
    </tr>
    <tr>
        <th>添加选择题:</th><td><a href="/add/choice">点击此处</a></td>
    </tr>
    <tr>
        <th>添加填空题:</th><td><a href="/add/tiankongti">点击此处</a></td>
    </tr>
    <tr>
        <th>添加简答题:</th><td><a href="/add/jiandati">点击此处</a></td>
    </tr>
    <tr>
        <th>添加判断题:</th><td><a href="/add/judgeti">点击此处</a></td>
    </tr>
    <tr>
        <th>添加大题:</th><td><a href="/add/dati">点击此处</a></td>
    </tr>
    <tr>
        <th>历史试卷:</th><td><a href="/file">点击此处</a></td>
    </tr>
</table>
</div>
{% block footer %}
<div align="center" style="height: 50px;width: 100%;background-color: #ddd;position: fixed;bottom: 0;">
    <p>{{moment(current_time).format('YYYY年M月D日, h:mm:ss a')}}</p>
{% endblock %}
</div>
</body>
</html>