<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>papergenerate system</title>
</head>
<body>
<table>
    <tr>
        <td>name:</td><td>{{ user.username }}</td>
    </tr>
     <tr>
        <td>id:</td><td>{{ user.userid }}</td>
    </tr>
     <tr>
        <td>privilege:</td><td>{{ privilege }}</td>
    </tr>
    <tr>
        <td>manage question:</td><td><a href="managequestionpage">click here</a></td>
    </tr>
    <tr>
        <td>manage paper:</td><td><a href="managepaperpage">click here</a></td>
    </tr>
    <tr>
        <td>generate paper:</td><td><a href="generatepage">click here</a></td>
    </tr>
    <tr>
        <td>generate paper(auto):</td><td><a href="autogeneratepage">click here</a></td>
    </tr>
    <tr>
        <td>log out:</td><td><a href="logout">click here</a></td>
    </tr>
</table>
</body>
</html>