<!DOCTYPE html>
{% block html_attribs %}
    <meta lang="zh" charset="UTF-8">
    {{moment.include_jquery()}}
    {{moment.include_moment()}}
    <!--使用中文-->
    {{moment.lang('zh-CN')}}
{% endblock %}
<head>
    {% block title %}<title>管理选择题</title>{% endblock %}
</head>
<body>
{% block navbar %}
<div class="navbar navbar-fixed-top">
    <div style=" float:left" align="left"><label><a href="/main">首页</a></label></div><div align="right"><select onchange="window.open(this.options[this.selectedIndex].value,target='_self')"><option selected>{{ privilege }}:{{ username }}</option><option value="/logout">注销登录</option></select></div>
</div>
{% endblock %}

{% block content %}
  <div align="center"><h3>管理选择题</h3></div>
{% endblock %}

{% block tables %}
<div style="margin: 0 auto;text-align:center">
<table cellpadding="10" style="height: auto;margin: 0 auto;color: black;background: antiquewhite;align-content: center;">
<a href="/manage/unchoice">跳转至非选择题</a>&nbsp;&nbsp;<a href="/shijuan">查看试卷</a>
    <tr>
        <td>序号</td><td>题目</td><td>难度</td><td>类别</td><td>正确选项</td><td>错误选项</td><td>有效</td><td>添加(单选)</td><td>添加(多选)</td>
    </tr>
        {% for question in result %}<tr>
        <form action="/manage/changechoice" id="form{{ question.get('qid') }}" name="form{{ question.get('qid') }}" method="post">
            <td>{{ question.get('qid') }}<input type="hidden" value="{{ question.get('qid') }}" id="qid{{ question.get('qid') }}" name="qid{{ question.get('qid') }}" readonly></td>
            <td><input type="text" id="question{{ question.get('qid') }}" name="question{{ question.get('qid') }}" value="{{ question.get('question') }}" readonly></td>
            <td><input style="width: 40px" type="number" id="level{{ question.get('qid') }}" name="level{{ question.get('qid') }}" max="5" min="1" value="{{ question.get('level') }}" readonly></td>
            <td><input type="number" style="width: 40px" id="course{{ question.get('qid') }}" name="course{{ question.get('qid') }}" value="{{ question.get('level') }}" readonly></td>
            <td><input type="text" id="answer{{ question.get('qid') }}" name="answer{{ question.get('qid') }}" value="{{ question.get('right') }}" readonly></td>
            <td><input type="text" id="wrong{{ question.get('qid') }}" name="wrong{{ question.get('qid') }}" value="{{ question.get('wrong') }}" readonly></td>
            {% if question.get('delornot')==1 %}
            <td><select readonly id="delornot{{ question.get('qid') }}" name="delornot{{ question.get('qid') }}"><option value="1" selected>否</option></select></td>
            {% else %}
             <td><select readonly id="delornot{{ question.get('qid') }}" name="delornot{{ question.get('qid') }}"><option value="0" selected>是</option></select></td>
            {% endif %}
            <td><input type="button" value="添加到试卷" onclick="tianjiadan({{ question.get('qid') }})"></td>
            <td><input type="button" value="添加到试卷" onclick="tianjiaduo({{ question.get('qid') }})"></td>
        </form>
            </tr>
    {% endfor %}
</table>
{% if result %}
<form action="/manage/choice" method="post" id="pageturn" name="pageturn">
    当前从第<input style="width: 40px" type="number" id="start" name="start" value="{{ start }}" readonly>条记录开始
    <input type="button" value="上一页" onclick="prepage()">
    <input type="button" value="下一页" onclick="nextpage()">
</form>
{% endif %}

</div>
{% endblock %}
{#<div>#}
{#    <form method="post" action="/manage/choice">#}
{#        <input type="number" id="start" name="start">#}
{#        <input type="submit" value="submit">#}
{#    </form>#}
{#</div>#}
{% block footer %}
<div align="center" style="height: 50px;width: 100%;background-color: #ddd;position: fixed;bottom: 0;">
    <p>{{moment(current_time).format('YYYY年M月D日, h:mm:ss a')}}</p>
{% endblock %}
<script>
function tianjiadan(qid) {
        $.post("/adddanchoice",{qid})
    }
    function tianjiaduo(qid) {
        $.post("/addduochoice",{qid})
    }
    function prepage() {
        pagestart=document.getElementById("start");
        if (pagestart>10) {
            pagestart=pagestart-10;
        }
        else {
            pagestart=0
        }
        document.getElementById("start").innerText=pagestart;
        document.getElementById('pageturn').submit();
    }
    function nextpage() {
        pagestart=document.getElementById("start");
         pagestart=pagestart+10;
        document.getElementById("start").innerText=pagestart;
        document.getElementById('pageturn').submit();
    }
</script>
</body>
</html>