<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
</head>
<body>
<div>
    <p>{{ msg }}</p>
    <form action="/register" method="post">
        <table>
            <tr>
                <td>昵称:</td><td><input type="text" id="username" name="username" required></td>
            </tr>
            <tr>
                <td>邮箱:</td><td><input type="email" id="useremail" name="useremail" required></td>
            </tr>
            <tr>
                <td>类别:</td><td><input type="number" id="course" name="course" required></td>
            </tr>
            <tr>
                <td>密码:</td><td><input type="password" id="userpassword" name="userpassword" required></td>
            </tr>
            <tr>
                <td><input type="submit" value="注册"><td>
                <a href="/login"><input type="button" value="登录"></a> </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>