<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册成功</title>
</head>
<body>
<div>
    <h3>注册成功</h3>
    <p>注册信息如下：</p>
<table>
    <tr>
        <td>昵称:</td><td>{{ user.username }}</td>
    </tr>
    <tr>
        <td>邮箱:</td><td>{{ user.email }}</td>
    </tr>
     <tr>
        <td>id:</td><td>{{ user.userid }}</td>
    </tr>
     <tr>
        <td>权限:</td><td>{{ privilege }}</td>
    </tr>
    <tr>
        <td><a href="/login">点击跳转至登录页面</a> </td>
    </tr>
</table>
</div>
</body>
</html>